
<div class="home-banner">
  <h1 class="title">Collections</h1>
</div>

  <% unless @collections.nil? %>




  <div class="cards">
  
  
  <% @collections.each do |collection| %>
    <% if collection.photos.attached? %>

      <div class="product-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path collection.photos[0].key, height: 300, width: 400, crop: :fill %>')">
        <%= link_to collection.title, collection_path(collection)%>
      </div>
    <% else %>
      <div class="product-tumb">
        <%= link_to collection.title, collection_path(collection)%>
        <div class="product-bottom-details">
          </div>
    <% end %>
      </div>
  <% end %>
  <% end %>
</div>


