<h1>Collections</h1>


<div class="cards">
  <% @collections.each do |collection| %>

    
    <div class="card-category">

        <%= link_to collection.title, collection_path(collection)%>
    </div>


    <% end %>
</div>
