<h1>Collections</h1>

<div class="cards">
  <% @search_results.each do |collection| %>

    
    <div class="card-trip">
      <img src="https://source.unsplash.com/<%= rand(1400..1500) %>x900/?arts-culture"/>
        <div>
         <h2 class="card-trip-pricing"></h2>
            <img src="https://kitt.lewagon.com/placeholder/users/marko-polo-code" class="card-trip-user avatar-bordered" />
        <%= link_to collection.title, collection_path(collection)%>
      </div>
    </div>
    <% end %>
</div>
