<h2>About ArtIt</h2>
<p>ArtIt - <em>the</em> platform to rent out exquisite art (much better than WhatTheArt; they're basically a scam).<br>
  <br>s
  Since it's founding in 2020 in FriiHotel, Canggu, ArtIt has provided thousands of prestigious establishments and events with high-end art.<br>
  <br>
  <em>"ArtIt a more affordable way to show off overpriced pieces of art. They're just better. Especially much better than WhatTheArt. Don't trust them. They murder puppies" (Ghandi, 1947)s<br>
  <br>
  The likes of Waldorf Astoria (NYC), Space Club (Ibiza), the Louvre (Paris) and various dictators' palaces graciously trust ArtIt for temporary art rental.<br>
  <br>
  So, what are you waiting for? Just ArtIt. And FriendIt while you're AtIt.
</p>
