
.home-banner {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/1269968/pexels-photo-1269968.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-size: cover;
    height: 100vh;
    color: #eee;
    text-align: center;
    padding-top: 40vh;

    .title {
      color: white;
    }
  }

