h1, h3, label {
  font-family: 'Playfair Display', serif;
  color: black;
}


.booking-question {
  text-align: right;
  margin-bottom: 20px;
}

#title {
  color: white;
  font-family: 'Playfair Display', serif;
}

#description-header {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

#description {
  font-size: 15px;
}

#collection {
  font-family: 'Playfair Display', serif;
  color: black;
}

p {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  color: black;
}

.nav-link {
  font-family: 'Playfair Display', serif;
}

a {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}

#find {
  color: white;
}

#price {
  font-size: 13px;
}

#booking {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

.carousel-bg {
  height: 200px;
  width: 100%;
}