h1, h3, label {
  font-family: 'Playfair Display', serif;
  color: black;
}


.booking-question {
  text-align: right;
  margin-bottom: 20px;
}

h2 {
  color: white;
  font-family: 'Playfair Display', serif;
}

#description {
  font-size: 15px;
}

p {
  font-size: 10px;
}